body {
        margin: 0;
        padding-top: 115px;
        padding-left: 155px;
        background-color: rgb(248, 248, 248);
        padding-right: 30px;
        padding-bottom: 20px;
      }
      p {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .vid-preview-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 40px;
        margin-top: 0px;
      }

      @media (max-width: 750px) {
        .vid-preview-grid {
          grid-template-columns: 1fr 1fr ;
        }
      }

      @media (min-width: 751px) and (max-width: 999px) {
        .vid-preview-grid {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

      @media (min-width: 1000px) {
         .vid-preview-grid {
          grid-template-columns: 1fr 1fr 1fr 1fr;
          
        }
      }

      @media (min-width: 1200.1px) {
          body {
          margin-left: 100px;
        }
      }

      .vid-preview {
        display: inline-block;
      }

      .vid-link {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

      .author-link {
        color: rgb(75, 75, 75);
        text-decoration: none;
      }

      .thumbnail {
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
      }

      .vid-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 2px;
        margin-top: 10px;
      }

      .thumbnail-container {
        position: relative;
      }

      .video-time {
        font-family: Roboto, Arial;
        font-size: 15px;
        font-weight: 500;
        color: white;
        background-color: black;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 4px;
        padding-bottom: 4px;
        position: absolute;
        bottom: 10px;
        right: 7px;
        border-radius: 2px;
      }

      .channel-picc {
        width: 50px;
        border-radius: 25px;
        cursor: pointer;
        margin-left: 9px;
      }

      .channel-pic-container {
        position: relative;
        display: inline-block;
      }

      .channel-pic-container .toolkit {
        background-color: white;
        position: absolute;
        border-width: 1px;
        border-radius: 6px;
        height: 80px;
        width: 250px;
        bottom: -40px;
        display: flex;
        flex-direction: row;
        font-family: ROboto, Arial;
        align-items: center;
        box-shadow: 1px 1px 1px 1px rgb(220, 218, 218);
        opacity: 0;
        transition: opacity 0.15s;
        pointer-events: none;
      }

      .channel-pic-container:hover .toolkit {
        opacity: 1;
      }

      .author-toolkit-info-1, 
      .author-toolkit-info-2 {
        margin-left: 8px;
      }


      .channel-pic {
        width: 80%;
        border-radius: 50px;
        cursor: pointer;
      }


      .vid-title,
      .author-toolkit-info-1 {
        font-weight: bold;
        margin-bottom: 10px;
        font-family: Roboto, Arial;
        cursor: pointer;
      }

      .vid-author {
        margin-bottom: 5px;
        color: rgb(75, 75, 75);
        font-family: Roboto, Arial;
        cursor: pointer;
      }

      .vid-stats, 
      .author-toolkit-info-2 {
        color: rgb(75, 75, 75);
        font-family: Roboto, Arial;
      }

      